@import "theme";
@import "fonts";
@import "layout";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 14px;
  background: #f4f4f4;
}

a {
  text-decoration: none;
  color: $green;
  &:hover {
    text-decoration: underline;
  }
}

.hover-mouse:hover {
  cursor: pointer;
}

a.btn:hover {
  text-decoration: none;
}

.bottom-buttons {
  margin-bottom: 0;
  margin-top: 1.6em;
  button:not(last-of-type) {
    margin-right: 0.5em;
  }
}